body {
  width: 100rem;
    height: 89.625rem;
    padding: 9.313rem 3.75rem 7.688rem 6.25rem;
    background-color: var(--pale-grey);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.book__container {
  margin-bottom: 20px;
}
